@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
  background: hsl(212, 45%, 89%);
}

@media only screen and (min-width: 375px) {
    #root {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 100vh;
    }
}